In [1]:
!python -m pip install pandas

Requirement already satisfied: pandas in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\shania\appdata\local\programs\python\python314\lib\site-packages (from openpyxl) (2.0.0)

In [3]:
import os
import re

base_path = r"G:\.shortcut-targets-by-id\1VctTphaltRx4xcPxmTJlRTrxLalyuEt8\Labor Force Survey"

# Month ordering
month_order = {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12
}

# Patterns
month_pattern = re.compile(
    r"(JANUARY|FEBRUARY|MARCH|APRIL|MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER)",
    re.IGNORECASE
)
year_pattern = re.compile(r"(20\d{2})")

# Detect year folders from drive
year_folders = [
    f for f in os.listdir(base_path)
    if os.path.isdir(os.path.join(base_path, f)) and f.isdigit()
]

print("Detected year folders:", sorted(year_folders))

inventory = {}

for year in sorted(year_folders):
    year_path = os.path.join(base_path, year)

    # Accept both CSV and XLSX
    data_files = [
        f for f in os.listdir(year_path)
        if f.lower().endswith(".csv") or f.lower().endswith(".xlsx")
    ]

    inventory[year] = {}

    for file in data_files:
        upper = file.upper()

        # Detect type
        if upper.endswith(".XLSX"):
            filetype = "metadata"  # XLSX = metadata
        else:
            filetype = "survey"    # CSV = survey

        # Detect month
        month_match = month_pattern.search(upper)
        month = (
            month_match.group(1).capitalize()
            if month_match
            else "Unmatched"
        )

        # Detect year inside filename
        year_match = year_pattern.search(upper)
        file_year = year_match.group(1) if year_match else "UNKNOWN"

        # Store into inventory
        if month not in inventory[year]:
            inventory[year][month] = []

        inventory[year][month].append({
            "filename": file,
            "filetype": filetype,
            "file_year": file_year
        })

# Print clean summary
print("\n=== DATASET INVENTORY SUMMARY ===\n")

for yr in sorted(inventory.keys()):
    print(f"Year {yr}:")

    sorted_months = sorted(
        inventory[yr].keys(),
        key=lambda m: month_order.get(m, 99)
    )

    for month in sorted_months:
        print(f"  {month}:")
        for item in inventory[yr][month]:
            print(f"    {item['filename']} ({item['filetype']})")

    print()

Detected year folders: ['2018', '2019', '2022', '2023', '2024']

=== DATASET INVENTORY SUMMARY ===

Year 2018:
  January:
    JANUARY_2018.CSV (survey)
    JANUARY_2018_METADATA.xlsx (metadata)
  April:
    APRIL_2018.CSV (survey)
    APRIL_2018_METADATA.xlsx (metadata)
  July:
    JULY_2018.CSV (survey)
    JULY_2018_METADATA.xlsx (metadata)
  October:
    OCTOBER_2018.CSV (survey)
    OCTOBER_2018_METADATA.xlsx (metadata)

Year 2019:
  January:
    JANUARY_2019.CSV (survey)
    JANUARY_2019_METADATA.xlsx (metadata)
  April:
    APRIL_2019_METADATA.xlsx (metadata)
    APRIL_2019.CSV (survey)
  July:
    JULY_2019_METADATA.xlsx (metadata)
    JULY_2019.CSV (survey)
  October:
    OCTOBER_2019_METADATA.xlsx (metadata)
    OCTOBER_2019.CSV (survey)

Year 2022:
  January:
    JANUARY_2022.csv (survey)
    JANUARY_2022_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2022.csv (survey)
    FEBRUARY_2022_METADATA.xlsx (metadata)
  March:
    MARCH_2022.csv (survey)
    MARCH_2022_METADATA.xlsx (metadata)
  April:
    APRIL_2022_METADATA.xlsx (metadata)
    APRIL_2022.csv (survey)
  May:
    MAY_2022.csv (survey)
    MAY_2022_METADATA.xlsx (metadata)
  June:
    JUNE_2022.csv (survey)
    JUNE_2022_METADATA.xlsx (metadata)
  July:
    JULY_2022.CSV (survey)
    JULY_2022_METADATA.xlsx (metadata)
  August:
    AUGUST_2022_METADATA.xlsx (metadata)
    AUGUST_2022.CSV (survey)
  September:
    SEPTEMBER_2022.CSV (survey)
    SEPTEMBER_2022_METADATA.xlsx (metadata)
  October:
    OCTOBER_2022.CSV (survey)
    OCTOBER_2022_METADATA.xlsx (metadata)
  November:
    NOVEMBER_2022.CSV (survey)
    NOVEMBER_2022_METADATA.xlsx (metadata)
  December:
    DECEMBER_2022.CSV (survey)
    DECEMBER_2022_METADATA.xlsx (metadata)

Year 2023:
  January:
    JANUARY_2023.CSV (survey)
    JANUARY_2023_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2023.CSV (survey)
    FEBRUARY_2023_METADATA.xlsx (metadata)
  March:
    MARCH_2023.CSV (survey)
    MARCH_2023_METADATA.xlsx (metadata)
  April:
    APRIL_2023.CSV (survey)
    APRIL_2023_METADATA.xlsx (metadata)
  May:
    MAY_2023.CSV (survey)
    MAY_2023_METADATA.xlsx (metadata)
  June:
    JUNE_2023.CSV (survey)
    JUNE_2023_METADATA.xlsx (metadata)
  July:
    JULY_2023.CSV (survey)
    JULY_2023_METADATA.xlsx (metadata)
  August:
    AUGUST_2023.CSV (survey)
    AUGUST_2023_METADATA.xlsx (metadata)
  September:
    SEPTEMBER_2023.CSV (survey)
    SEPTEMBER_2023_METADATA.xlsx (metadata)
  October:
    OCTOBER_2023.CSV (survey)
    OCTOBER_2023_METADATA.xlsx (metadata)
  November:
    NOVEMBER_2023.CSV (survey)
    NOVEMBER_2023_METADATA.xlsx (metadata)
  December:
    DECEMBER_2023.CSV (survey)
    DECEMBER_2023_METADATA.xlsx (metadata)

Year 2024:
  January:
    JANUARY_2024.CSV (survey)
    JANUARY_2024_METADATA.xlsx (metadata)
  February:
    FEBRUARY_2024.CSV (survey)
    FEBRUARY_2024_METADATA.xlsx (metadata)
  March:
    MARCH_2024.CSV (survey)
    MARCH_2024_METADATA.xlsx (metadata)
  April:
    APRIL_2024.CSV (survey)
    APRIL_2024_METADATA.xlsx (metadata)
  May:
    MAY_2024.CSV (survey)
    MAY_2024_METADATA.xlsx (metadata)
  June:
    JUNE_2024.CSV (survey)
    JUNE_2024_METADATA.xlsx (metadata)
  July:
    JULY_2024.CSV (survey)
    JULY_2024_METADATA.xlsx (metadata)
  August:
    AUGUST_2024.CSV (survey)
    AUGUST_2024_METADATA.xlsx (metadata)

In [4]:

def load_dataset(year, month, filetype="survey"):
    """
    Load a dataset from the inventory.

    year: str, e.g., "2018"
    month: str, e.g., "January"
    filetype: "survey" or "metadata"
    """
    file_info = next(
        (f for f in inventory[year][month] if f["filetype"] == filetype),
        None
    )
    if not file_info:
        raise ValueError(f"No {filetype} file found for {month} {year}")

    file_path = os.path.join(base_path, year, file_info["filename"])
    
    if filetype == "survey":
        return pd.read_csv(file_path, low_memory=False)
    else:
        return pd.read_excel(file_path)

In [8]:
import pandas as pd

# Load survey CSV
January = load_dataset("2018", "January", "survey")
January.head()

,PUFREG,PUFPRV,PUFPRRCD,PUFHHNUM,PUFURB2K10,PUFPWGTPRV,PUFSVYMO,PUFSVYYR,PUFPSU,PUFRPL,...,PUFC33_WEEKS,PUFC34_WYNOT,PUFC35_LTLOOKW,PUFC36_AVAIL,PUFC37_WILLING,PUFC38_PREVJOB,PUFC40_POCC,PUFC41_WQTR,PUFC43_QKB,PUFNEWEMPSTAT
0,14,1,100,1,2,124.9425,1,2018,140,32,...,,6,,,,1,52,2,,3
1,14,1,100,1,2,131.2126,1,2018,140,32,...,,,,,,,,1,01,1
2,14,1,100,1,2,142.0464,1,2018,140,32,...,,,,,,,,1,01,1
3,14,1,100,1,2,138.2958,1,2018,140,32,...,,,,,,,,,,
4,14,1,100,2,2,195.4152,1,2018,140,32,...,,,,,,,,1,41,1

In [9]:
# Load metadata XLSX
January_metadata = load_dataset("2018", "January", "metadata")
January_metadata.head()

,QUEST,Questionnaire,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,_IDS0,(Id Items),NaN,NaN
1,NaN,NaN,NaN,NaN,PUFREG,Region
2,NaN,NaN,NaN,NaN,PUFPRV,Province
3,NaN,NaN,NaN,NaN,PUFPRRCD,Province Recode
4,NaN,NaN,NaN,NaN,PUFHHNUM,Household Unique Sequential Number

In [10]:
# Load metadata XLSX
April_metadata = load_dataset("2019", "April", "metadata")
April_metadata.head()

,QUEST,Questionnaire,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,_IDS0,(Id Items),NaN,NaN
1,NaN,NaN,NaN,NaN,PUFREG,Region
2,NaN,NaN,NaN,NaN,PUFHHNUM,Household Unique Sequential Number
3,NaN,NaN,HHMEM,Household Members,NaN,NaN
4,NaN,NaN,NaN,NaN,PUFURB2K10,2010Urban-RuralFIES